body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  max-width: 100vw;
  max-height: 100vh;
}
main {
  width: 100%;
  min-height: 100vh;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-rows: min-content min-content auto;
}
.background {
  display: none;
}

.header {
  width: 100%;
  height: 90px;
  position: relative;
}
.header__logo {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
}

.text-section {
  grid-row: 3/4;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  text-align: center;
  padding-bottom: 100px;
}
.text-section__title {
  font-size: 2.8em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 10px;
  line-height: 1.1;
  margin: 60px auto 20px;
  color: hsl(0, 6%, 24%);
}
.text-section__title_color_pink {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.text-section__desc {
  line-height: 1.5;
  width: 80%;
  margin: 0 auto 40px;
  color: hsl(0, 36%, 70%);
}

.form-container {
  width: 75%;
  margin: 0 auto 15px;
  padding: 20px 85px 20px 30px;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}
.form-container.error {
  border: 1.5px solid hsl(0, 93%, 68%);
}

.form-container__input {
  width: 60%;
  border: none;
  background: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  color: hsl(0, 6%, 24%);
}
.form-container__input:focus {
  outline: none;
}

.form-container__input::-moz-placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 0.6;
}

.form-container__input::placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 0.6;
}

.form-container__error-cont {
  width: 25px;
  height: 25px;
}
.form-container__error {
  display: none;
}

.form-container__error.true {
  display: block;
}

.form-container__button {
  border: none;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  right: 0;
  height: 100%;
  width: 80px;
  border-radius: 50px;
  box-shadow: 0 10px 20px 0 hsla(0, 74%, 74%, 0.4);
}
.form-container__send-icon {
  width: 15px;
}

.form-container__button:hover {
  background: linear-gradient(135deg, #f9cdcd, #f09999);
  cursor: pointer;
}

.form-container__button:active {
  background: linear-gradient(135deg, #fce3e3, #f3afaf);
}

.text-section__error-cont {
  height: 16px;
  width: 100%;
}
.text-section__error {
  color: hsl(0, 93%, 68%);
  display: none;
}

.text-section__error.true {
  display: block;
}

.image-section {
  grid-row: 2/3;
  width: 100%;
}
.image-section__hero-mobile {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-section__hero-desktop {
  display: none;
}

body footer {
  padding: 10px 0;
}
body footer .attribution a {
  text-decoration: none;
  color: hsl(0, 36%, 70%);
}

@media only screen and (min-width: 1024px) {
  main {
    grid-template-rows: 15% 85%;
    grid-template-columns: 60% 40%;
    grid-template-areas: "header image" "text image";
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)) no-repeat;
    background-size: 60% 100vh;
  }
  .background {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
  }
  .header {
    grid-area: header;
    width: 60%;
    height: 100%;
    margin: auto;
  }
  .header__logo {
    height: auto;
    left: 0;
    top: auto;
    bottom: 0;
  }
  .text-section {
    grid-area: text;
    background: none;
    z-index: 1;
    padding: 0;
    text-align: start;
    width: 60%;
    margin: auto;
  }
  .text-section__title {
    margin: 0 auto 20px;
    font-size: 4.5em;
  }
  .text-section__desc {
    width: 100%;
    font-size: 1.2em;
  }
  .form-container {
    width: 100%;
    height: 70px;
    padding-right: 125px;
  }
  .form-container__input {
    font-size: 1.2em;
  }
  .form-container__button {
    width: 120px;
  }
  .text-section__error {
    padding-left: 30px;
  }
  .image-section {
    grid-area: image;
  }
  .image-section__hero-desktop {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .image-section__hero-mobile {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */